 @import url('https://fonts.googleapis.com/css?family=Roboto');
 @import url('https://fonts.googleapis.com/css?family=Norican');
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
}
/*nav*/
header{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.navi{
  width: 50%;
}

.navi .nav-open{
   color: whitesmoke;
   position: absolute;
   top: 5px;
   right: 2vw;
 }

 @media (min-width: 1025px) {
   .navi .nav-open{
     display: none !important;
   }
 }

.menu{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

 @media(max-width: 1024px){
   .menu{
     display: none;
   }
 }

.menu li a{
  text-decoration: none;
  color: white;
  font-size:16px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}

 /*SIDE NAV*/

 .side-nav{
   height:100%;
   width: 0;
   position: fixed;
   z-index: 2;
   top: 0;
   right:0;
   background-color: #0f0f0f;
   opacity: 0.9;
   overflow-x: hidden;
   padding-top: 60px;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
 }



 .side-nav a{
   padding: 10px 10px 10px 30px;
   font-family: 'Roboto', sans-serif;
   text-decoration: none;
   font-size: 25px;
   color: whitesmoke;
   text-transform: uppercase;
   display: flex;
   -webkit-transition: 0.3s;
   -moz-transition: 0.3s;
   -ms-transition: 0.3s;
   -o-transition: 0.3s;
   transition: 0.3s;
   font-weight: bold;
 }

 .side-nav a:hover{
   color: black;
   background-color: whitesmoke;
 }

 .side-nav .nav-close{
   position: absolute;
   top: 5px;
   right: 25px;
   color: whitesmoke;
 }

.main{
  position: relative;
  background-image: url('../gallery/index.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main h1{
  color: whitesmoke;
  font-size: 6em;
  font-family: 'Norican', cursive;
  margin: 0;
}


.main p{
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 3em;
  font-family: 'Roboto', sans-serif;
}

 @media all and (max-width:480px) {
   .main h1{
     font-size: 5em;
     text-align: center;
   }
 }

 @media all and (max-width:480px) {
   .main p{
     font-size: 2em;
     text-align: center;
   }
 }



/*page2*/

 .container{
     opacity: 0;
     transition: 0.3s;
   width: 100%;
   height: 80vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 @media all and (max-width: 768px){
   .container{
     height: 100vh;
     display: flex;

   }
 }

 .reservation{
   position: relative;
   bottom: 5%;
   width: 80%;
   height: 60%;
   background-color: black;
   display: flex;
   justify-content:flex-end ;
   z-index: 1;
 }


 @media all and (max-width: 768px){
   .reservation{
     bottom: 0%;
     width: 100%;
     display: flex;
    flex-direction: column-reverse;
   }


 }



 .txt{
   width: 31%;
   height: 100%;
   background-color: white;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 @media all and (max-width: 768px){
   .txt{
     width: 100%;
   }
 }

 .txt h3{
   font-family: 'Norican', cursive;
   color: #3A3A3A;
   font-size: 2em;
   text-align: center;
    margin: 0;
   font-weight: lighter;
 }

 .txt p{
   font-family: 'Roboto', cursive;
   color: #ADADAD;
   text-align: center;
 }


 .image{
   width: 69%;
   height: 100%;
   margin: 0;
   background-image: url("../gallery/maia-eli-233485.jpg");
   background-size: cover;
 }

 @media screen and (max-width: 768px){
   .image{
     width: 100%;
   }
 }

 .btn{
   background-color: transparent;
   border: 2px solid #EDE4DA;
   color: #BBA17F;
   text-align: center;
   height: 40px;
   width: 50%;
     cursor: pointer;
     webkit-transition: 0.3s ;
     -moz-transition: 0.3s ;
     -ms-transition: 0.3s ;
     -o-transition: 0.3s ;
     transition: 0.3s;
 }

 .btn:hover{
     -webkit-transition: 0.3s ;
     -moz-transition: 0.3s ;
     -ms-transition: 0.3s ;
     -o-transition: 0.3s ;
     transition: 0.3s;
     background-color: #BBA17F;
     color: whitesmoke;
 }

 .txt2{
   width: 69%;
   background-color: white;
   margin: 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

 }

 @media screen and (max-width: 768px){
   .txt2{
     width: 100%;
     height: 50%;
   }
 }




 .txt2 p{
   text-align: center;
   font-family: 'Roboto', cursive;
   color: #ADADAD;
 }

 @media screen and (max-width: 768px){
   .txt2 p{
     font-size: 13px;
     margin: 0;
   }
 }

 .txt2 h3{
   font-family: 'Norican', cursive;
   color: #3A3A3A;
   font-size: 2em;
   text-align: center;
   margin: 0;
   font-weight: lighter;
 }

 @media screen and (max-width: 768px){
   .txt2 h3{
     margin: 0;
     font-size: 18px;
   }
 }

 .image2{
   width: 31%;
   height: 100%;
   margin: 0;
   background-image: url("../gallery/alex-holyoake-139326.jpg");
   background-size: cover;
 }


 @media all and (max-width: 768px){
   .image2{
     width: 100%;
     height: 50%;
   }
 }


 @media all and (max-width: 768px){
   .reverse{
    display: flex;
     flex-direction: column;
   }
 }

 /*banniere*/

 .banner{
   width: 100%;
   height: 50vh;
   position: relative;
   bottom: 9%;
   overflow: hidden;
 }

 .banner-child{
     background-image: url("../gallery/olenka-kotyk-15382.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     width:100%;
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     -webkit-transform: translate3d(-100%, 0, 0);
     -moz-transform: translate3d(-100%, 0, 0);
     -ms-transform: translate3d(-100%, 0, 0);
     -o-transform: translate3d(-100%, 0, 0);
     transform: translate3d(-100%, 0, 0);
     transition: 0.7s ease-in-out;
 }


 @media screen and (max-width: 768px){
   .banner{
     bottom:0;
   }
 }

 .banner-child h1 {
   font-family: 'Roboto', sans-serif;
   text-transform: uppercase;
   font-size: 3em;
   letter-spacing: 5px;
   color: whitesmoke;
 }

 @media screen and (max-width:520px) {
     .banner-child h1{
         text-align: center;
         font-size: 2em;
     }
 }

 @media screen and (max-width:380px) {
     .banner-child h1{
         text-align: center;
     }
 }

 .specialities{
     width: 100%;
     height: 80vh;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 @media screen and (max-width: 768px){
     . .specialities{
         height: 100vh;
     }
 }

 .menus{
     width: 80%;
     height: 100%;
     position: relative;
     bottom: 20%;
     display: flex;
     flex-wrap: wrap;
     background-color: whitesmoke;
 }

 @media screen and (max-width: 768px){
     .menus{
         width: 100%;
         bottom: 0%;
     }
 }

 .plate{
     width: 50%;
     height: 50%;
     display: flex;
 }

 @media screen and (max-width: 768px){
     .plate{
         display: flex;
         flex-direction: column;
     }
 }

 .desc h4{
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-size: 18px;
     text-transform: uppercase;
     letter-spacing: 4px;
     margin: 0;
 }

 .desc p{
     text-align: center;
     font-family: 'Roboto', sans-serif;
     font-size: 12px;
     color: #ADBCD8;
     margin: 0;
 }

 .desc span{
     display:block;
     text-align: center;
     font-family: 'Roboto', sans-serif;
     text-transform: uppercase;
     font-weight: bold;
     color: #B59874;
 }

 .desc{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .row-reverse{
    display: flex;
    flex-direction: row-reverse;
}

 @media screen and (max-width: 768px) {
     .row-reverse{
         flex-direction: column;
     }
 }
 .photo{
     width: 76%;
     height: 100%;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
 }

 @media screen and (max-width: 768px) {
     .photo{
         width: 100%;
         height: 50%;
     }
 }

 .photo1{
     background-image: url("../gallery/photo1.jpg");
 }

 .photo2{
     background-image: url("../gallery/photo2.jpg");
 }

 .photo3{
     background-image: url("../gallery/photo3.jpg");
 }

 .photo4{
     background-image: url("../gallery/photo4.jpg");
 }

